# Unreal Engine generated
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Packaged/

# Visual Studio generated
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Temp/scripts
setup_map.py
nul
